.container
  .row
    .col
      %h2
        = @playlist.name

- if @videos.count == 0
  .container
    .row
      .col
        There are no videos in this playlist. Go to
        = link_to 'Videos', videos_path
        to add videos to the playlist.

- else
  .container{ 'data-controller' => 'playlist', 'data-playlist-changesequrl-value' => change_seq_playlist_path(@playlist) }
    - @videos.each do |video|
      %turbo-frame{ id: "playlist_video_#{video.id}" }
        .row.my-2.p-3.border{ 'data-playlist-target' => 'video', 'data-playlist-video' => video.id }
          .col-auto.text-center.my-auto.drag-handle
            %h1
              %i.bi.bi-grip-horizontal
          .col-auto.text-center.my-auto
            %img{ src: video.thumbnail, alt: "Image for #{video.title}" }
          .col
            %h5
              = video.title
            %div.text-break
              = video.description
            %div
              %small.text-muted
                = video.views
                views
          .col-auto.text-end.my-auto
            %a.btn.btn-danger{ href: remove_video_playlist_path(@playlist, video_id: video.id), data: { turbo_method: 'put' } }
              Remove from Playlist
